@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Brand colors */
  --color-primary-dark: #000433;
  --color-primary-light: #23cff7;
  --color-primary-mid: #005f73;
  --color-accent: #ffb703;
  --color-accent-dark: #fb8500;
  --color-success: #2dd4bf;
  --color-danger: #ef4444;
  --color-neutral-light: #f8fafc;
  --color-neutral-dark: #1e293b;

  /* Gradients */
  --gradient-primary: linear-gradient(120deg, var(--color-primary-dark) 15%, var(--color-primary-light) 100%);

  --default-font-family: 'Poppins', sans-serif;

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @keyframes pulse-fast {

    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }

  @keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}


  @keyframes ripple {

    0%,
    100% {
      opacity: 1;
      transform: scale(1);
      color: var(--color-primary-dark)
    }

    50% {
      opacity: 0.7;
      transform: scale(1.05);
      color: white;
    }
  }



  @keyframes dashmove {
    to {
      stroke-dashoffset: -12;
    }
  }


}

.animate-dash {
  stroke-dasharray: 6;
  animation: dashmove 2s linear infinite;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-wave {
  animation: wave 2.5s ease-in-out infinite;
}

.animate-ripple {
  animation: ripple 3s ease-in-out infinite;
}

.animate-gradient-flow {
  background-size: 400% 400%;
  animation: gradientFlow 5s ease infinite;
  -webkit-animation: gradientFlow 5s ease infinite;
}

.animate-pulse-fast {
  animation: pulse-fast 1s infinite;
}